{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Date Range plugin for Craft CMS 3.x
 *
 * DateRange Field Input
 *
 * @author    Studio Espresso
 * @copyright Copyright (c) 2019 Studio Espresso
 * @link      https://studioespresso.co/en
 * @package   DateRange
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

<div class="datetimewrapper">
    {% if field.showStartDate %}
        {{ forms.dateField({
            label: 'Start date',
            id: name~'StartDate',
            name: name ~ '[start]',
            value: value.start.date ?? ''
        }) }}
    {% endif %}
    {% if field.showStartTime %}
        {{ forms.timeField({
            label: 'Start time',
            id: name~'StartTime',
            name: name ~ '[start]',
            value: value.start.time ?? ''

        }) }}
    {% endif %}
</div>

<div class="datetimewrapper">

    {% if field.showEndDate %}
        {{ forms.dateField({
            label: 'End date',
            id: name~'EndDate',
            name: name ~ '[end]',
            value: value.end.date ?? ''

        }) }}
    {% endif %}
    {% if field.showEndTime %}
        {{ forms.timeField({
            label: 'End time',
            id: name~'EndTime',
            name: name ~ '[end]',
            value: value.end.time ?? ''

        }) }}
    {% endif %}
</div>
